* {
    margin: 0%;
    padding-left: 1%;
    padding-right: 1%;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 50vh;
    display: left;
    justify-content: left;
    align-content: space-around;
    background: no-repeat;
    background-size: cover;
    background-image: url(imagens/240_F_597490918_dugDbSuqx6YSRmCaYiZJ6pCr37cXK3Rv.jpg);
    color: black;
}


.txt-animado {
    font-size: medium;
    font-weight: 50;

}
.txt-animado span{
    position: static;
}
.txt-animado span::before {
    content: "";
    color: black;
    animation: palavras 500ms infinite;
}
@keyframes palavras {
    0%,10%{
        content: "0O0O 0O0O0O0O0";
    }
    
    11%,20%{
        content: "⚠️⚠️⚠️⚠️⚠️⚠️";
    }
    
    21%,30%{
        content: "sItE tErMiNaDo";
    }
    
    31%,40%{
        content: "SiTe TeRmInAdO";
    }

    41%,57%{
        content: "site TERMINADO";
    }
    58%,75%{
        content: "SITE terminado";
    }
    76%,97%{
        content: "⬛⬛⬛⬛⬛⬛";
    }
    98%,100%{
        content: "SITE TERMINADO";
    }
}

