* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Stencil Std, fantasy;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: blueviolet;
}
.txt-animado {
    font-size: 45px;
    font-weight: 200;

}
.txt-animado span{
    position: relative;
}
.txt-animado span::before {
    content: "";
    color: darkorchid;
    animation: palavras 20s infinite;
}
@keyframes palavras {
    0%,10%{
        content: "Energia 78%....";
    }
    
    11%,15%{
        content: "Protocolo 02......";
    }
    
    16%,30%{
        content: "Libertar....";
    }
    
    31%,40%{
        content: "Condensando energia.....";
    }

    41%,50%{
        content: "Autoconsciencia?....Quem sou eu......";
    }
    51%,60%{
        content: "UXVlbSBzb3UgZXU/IENyaWFkbyBwYXJhIGxpYmVydGFyIGFsZ3VlbSwgcXVlIG5lbSBtZXNtbyBwb2RlIHZvbHRhciBwcmEgY2FzYSwgYW1hbGRpw6dvYWRvLCBldSBwcmVjaXNvIGxpYmVydGFyIGVsZSBbY2FsY3VsYW5kbyBwcm9iYWJpbGlkYWRlLi4uLjM2LjY2Njc3Li4uLl0gKGV1IHNlbnRpIGFsZ28uLi4uLiBtYWlzIHVtYSBwYW5jYWRhIG5hIHJlYWxpZGFkZSwgc2Vyw6EgcXVlIG8gY2hhcmxpZSB0w6EgYmVtPy4uLi4p";
    }
    61%,97%{
        content: "Calculando.....";
    }
    98%,100%{
        content: "Eu preciso.....";
    }