* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Stencil Std, fantasy;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
}
.txt-animado {
    font-size: 45px;
    font-weight: 200;

}
.txt-animado span{
    position: relative;
}
.txt-animado span::before {
    content: "";
    color: orchid;
    animation: palavras 2s infinite;
}
@keyframes palavras {
    0%,10%{
        content: "ENERGIA";
    }
    
    11%,20%{
        content: "ABSORVER";
    }
    
    21%,30%{
        content: "CONDENSAR";
    }
    
    31%,40%{
        content: "QUEBRAR";
    }

    41%,50%{
        content: "COLAPSAR";
    }
    51%,60%{
        content: "ABERTURA";
    }
    61%,70%{
        content: "?#A##?E";
    }
    71%,80%{
        content: "LIBERAR";
    }
81%,90%{
    content: "DESTINO";
}

91%,100%{
    content: "ANOMALO";
}
