* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Stencil Std, fantasy;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: black;
}
.txt-animado {
    font-size: 46px;
    font-weight: 200;

}
.txt-animado span{
    position: relative;
}
.txt-animado span::before {
    content: "";
    color: rgb(188, 59, 235);
    animation: palavras 0.5s infinite;
}
@keyframes palavras {
    0%,10%{
        content: "ENERGIA";
    }
    
    11%,20%{
        content: "#BSOR#E#";
    }
    
    21%,30%{
        content: "CONDENSAR";
    }
    
    31%,40%{
        content: "INJUSTO";
    }

    41%,50%{
        content: "C#LA#SAR";
    }
    51%,60%{
        content: "DESTINO?";
    }
    61%,70%{
        content: "?#A##?E";
    }
    71%,80%{
        content: "LIB#R#R";
    }
81%,90%{
    content: "ABERTURA";
}

91%,100%{
    content: "ANOMALO";
}
