*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:monospace;
}

body{
  background:#000;
  color:#fff;
  height:100vh;
  display:flex;
  flex-direction:column;
  overflow:hidden;
  position:relative;
}

body::before{

  content:"";

  position:fixed;

  inset:0;

  background-image:
  radial-gradient(
    rgba(255,255,255,.035) 1px,
    transparent 1px
  );

  background-size:3px 3px;

  opacity:.15;

  pointer-events:none;

  z-index:-1;

}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-track{
  background:#000;
}

::-webkit-scrollbar-thumb{
  background:#fff2;
  border-radius:999px;
}

.topo{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:20px;
  border-bottom:1px solid #222;
}

#salaArea{
  display:flex;
  gap:10px;
}

#salaArea input{
  width:120px;
}

input{
  background:#000;
  color:#fff;
  border:2px solid #fff;
  border-radius:12px;
  padding:12px;
  outline:none;
  caret-color:#fff;

  box-shadow:
    0 0 12px #ffffff10;

  animation:cursorBlink 1s infinite;
}

#configBox{
  display:flex;
  gap:10px;
  padding:15px;
}

#chat{
  flex:1;
  overflow-y:auto;
  padding:20px;
}

.msg{
  margin-bottom:20px;
  word-wrap:break-word;
  animation:fade .2s;
}

.nome{
  font-weight:bold;
  text-shadow:0 0 8px #fff2;
}

.msg img{
  max-width:240px;
  border-radius:12px;
  margin-top:10px;
  cursor:pointer;

  box-shadow:
    0 0 16px #ffffff10;
}

audio{
  margin-top:10px;
  width:240px;
}

#previewBox{
  padding:10px 20px;
}

.previewContainer{
  position:relative;
  display:inline-block;
}

#previewBox img{
  max-width:120px;
  border-radius:12px;
}

#cancelImg{
  position:absolute;
  top:-8px;
  right:-8px;
  width:26px;
  height:26px;
  border-radius:50%;
  background:#fff;
  color:#000;
  display:flex;
  align-items:center;
  justify-content:center;
  cursor:pointer;
}

#form{
  display:flex;
  gap:10px;
  padding:15px;
  border-top:1px solid #222;
}

#input{
  flex:1;
}

button,
#imgBtn,
#audioBtn{

  width:70px;

  display:flex;

  align-items:center;

  justify-content:center;

  background:#fff;

  color:#000;

  border-radius:12px;

  cursor:pointer;

  border:none;

  font-weight:bold;

  box-shadow:
    0 0 14px #ffffff20;

}

#form button{
  width:90px;
  font-size:24px;
}

#imageModal{
  position:fixed;
  inset:0;
  background:rgba(0,0,0,.95);
  display:none;
  align-items:center;
  justify-content:center;
  z-index:999;
}

#imageModal img{
  max-width:90%;
  max-height:90%;
  border-radius:14px;
}

.dragging{
  border:2px dashed #fff;
}

#chat.dragging::after{

  content:"SOLTE A IMAGEM";

  position:fixed;

  inset:0;

  display:flex;

  align-items:center;

  justify-content:center;

  background:rgba(0,0,0,.9);

  font-size:42px;

}

.sumindo{

  animation:
    fadeOut 2s forwards,
    warningBlink .5s infinite;

}

@keyframes warningBlink{

  0%{
    opacity:1;
  }

  50%{
    opacity:.45;
  }

  100%{
    opacity:1;
  }

}

@keyframes fadeOut{

  0%{
    opacity:1;
  }

  50%{
    opacity:1;
  }

  100%{
    opacity:0;
  }

}

@keyframes cursorBlink{

  0%{
    caret-color:#fff;
  }

  50%{
    caret-color:transparent;
  }

  100%{
    caret-color:#fff;
  }

}

@keyframes fade{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}