*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:monospace;
}

body{
  background:#000;
  color:#fff;
  height:100vh;
  display:flex;
  flex-direction:column;
  overflow:hidden;
}

.topo{
  text-align:center;
  padding:20px;
  border-bottom:1px solid #222;
  flex-shrink:0;
}

.topo h1{
  font-size:32px;
}

#online{
  color:#777;
  margin-top:5px;
}

#nickBox{
  display:flex;
  gap:10px;
  padding:15px;
  border-bottom:1px solid #222;
  flex-shrink:0;
  background:#000;
}

#nickInput{
  flex:1;
  background:#000;
  color:#fff;
  border:2px solid #fff;
  border-radius:12px;
  padding:14px;
  outline:none;
  font-size:16px;
}

#entrar{
  background:#fff;
  color:#000;
  border:none;
  padding:14px 20px;
  border-radius:12px;
  cursor:pointer;
  font-size:16px;
}

#chat{
  flex:1;
  overflow-y:auto;
  padding:20px;
}

.msg{
  margin-bottom:18px;
  word-wrap:break-word;
  animation:fade .2s;
}

.nome{
  font-weight:bold;
}

.sumindo{
  opacity:0;
  transition:2s;
}

#form{
  display:flex;
  gap:10px;
  padding:15px;
  background:#000;
  border-top:1px solid #222;
  flex-shrink:0;
}

#input{
  flex:1;
  background:#000;
  color:#fff;
  border:2px solid #fff;
  border-radius:12px;
  padding:18px;
  outline:none;
  font-size:16px;
}

#input::placeholder{
  color:#666;
}

button{
  width:90px;
  border:none;
  background:#fff;
  color:#000;
  font-size:24px;
  border-radius:12px;
  cursor:pointer;
  transition:.2s;
}

button:hover{
  transform:scale(1.03);
}

@keyframes fade{

  from{
    opacity:0;
    transform:translateY(10px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}